<!DOCTYPE html>
<head>
    <title>
        To-Do List
    </title>
    
</head>
<body style = "background-color: aqua;">
    <h1 style = "color: black">To-Do List</h1>
    <div class="row">
        <input type = "text" id = "input-box" placeholder = "Type item">
        <button>Add item</button>
    </div>
</body>